In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("NHL Concussions Database_data.csv")
df.head()

,Season,Team,Position,Player,Injury Type,Cap Hit,Chip,Games Missed,Games Missed.1
0,2012/13,Boston,F,"Bergeron, Patrice",Concussion,5.0,365.853659,6,6
1,2012/13,Boston,F,"Marchand, Brad",Concussion,2.5,60.975610,2,2
2,2012/13,Boston,F,"Thornton, Shawn",Concussion,1.1,26.829268,2,2
3,2012/13,Carolina,F,"LaRose, Chad",Concussion,1.7,207.317073,10,10
4,2012/13,Carolina,F,"Semin, Alexander",Concussion,7.0,170.731707,2,2

In [5]:
clean_df = df.drop(['Injury Type', 'Cap Hit', 'Chip', 'Games Missed.1'], axis = 1)
clean_df.head(20)

     Season          Team Position              Player  Games Missed
0   2012/13        Boston        F   Bergeron, Patrice             6
1   2012/13        Boston        F      Marchand, Brad             2
2   2012/13        Boston        F     Thornton, Shawn             2
3   2012/13      Carolina        F        LaRose, Chad            10
4   2012/13      Carolina        F    Semin, Alexander             2
5   2012/13      Carolina        F       Skinner, Jeff             5
6   2012/13       Chicago        D     Montador, Steve            26
7   2012/13      Columbus        D   Wisniewski, James             2
8   2012/13       Detroit        F      Eaves, Patrick             1
9   2012/13      Edmonton        F          Eager, Ben             9
10  2012/13       Florida        F       Selleck, Eric            16
11  2012/13       Florida        D        Weaver, Mike             1
12  2012/13      Montreal        F       Bourque, René            21
13  2012/13      Montreal        F  Gallagher, Brendan             3
14  2012/13      Montreal        D       Díaz, Raphael            25
15  2012/13    NY Rangers        F       Powe, Darroll             3
16  2012/13        Ottawa        F  Dziurzynski, David             7
17  2012/13        Ottawa        D        Lundin, Mike             8
18  2012/13  Philadelphia        F      Brière, Daniel            10
19  2012/13  Philadelphia        F     Simmonds, Wayne             3

In [6]:
clean_df['Player'] = clean_df['Player'].apply(lambda x: ' '.join(x.split(', ')[::-1]))
clean_df.head()

    Season      Team Position            Player  Games Missed
0  2012/13    Boston        F  Patrice Bergeron             6
1  2012/13    Boston        F     Brad Marchand             2
2  2012/13    Boston        F    Shawn Thornton             2
3  2012/13  Carolina        F       Chad LaRose            10
4  2012/13  Carolina        F   Alexander Semin             2

In [8]:
clean_df['Position'].value_counts()

F    234
D    122
G     48
Name: Position, dtype: int64

In [12]:
clean_df['Team'].value_counts()

Montreal        27
Pittsburgh      27
Carolina        26
Chicago         25
Boston          21
Vancouver       16
Winnipeg        15
Florida         15
Colorado        15
Edmonton        14
Ottawa          14
Philadelphia    14
St. Louis       14
NY Rangers      13
Toronto         12
Anaheim          9
Minnesota        9
Dallas           8
Detroit          8
New Jersey       8
Columbus         7
NY Islanders     6
Buffalo          6
San Jose         6
Calgary          4
Los Angeles      4
Washington       4
Arizona          3
Phoenix          2
Nashville        2
Tampa Bay        1
Vegas            1
Name: Team, dtype: int64

In [13]:
clean_df = clean_df[clean_df['Position'] != 'G']

In [14]:
clean_df['Position'].value_counts()

F    234
D    122
Name: Position, dtype: int64

In [23]:
clean_df['Season'] = clean_df['Season'].str[:4]
clean_df.head()

  Season      Team Position            Player  Games Missed
0   2012    Boston        F  Patrice Bergeron             6
1   2012    Boston        F     Brad Marchand             2
2   2012    Boston        F    Shawn Thornton             2
3   2012  Carolina        F       Chad LaRose            10
4   2012  Carolina        F   Alexander Semin             2

In [25]:
city_dict = {'Anaheim': 'ANA', 'Arizona': 'ARI', 'Boston': 'BOS', 'Buffalo': 'BUF', 'Carolina': 'CAR', 'Columbus': 'CBJ', 'Calgary': 'CGY', 'Chicago': 'CHI', 'Colorado': 'COL', 'Dallas': 'DAL',
             'Detroit': 'DET', 'Edmonton': 'EDM', 'Florida': 'FLA', 'Los Angeles': 'L.A', 'Minnesota': 'MIN', 'Montreal': 'MTL', 'New Jersey': 'N.J', 'Nashville': 'NSH', 'NY Islanders': 'NYI', 'NY Rangers': 'NYR',
             'Ottawa': 'OTT', 'Philadelphia': 'PHI', 'Phoenix': 'ARI', 'Pittsburgh': 'PIT', 'St. Louis': 'STL', 'San Jose': 'S.J', 'Tampa Bay': 'T.B', 'Toronto': 'TOR', 'Vancouver': 'VAN', 'Vegas': 'VGK',
             'Winnipeg': 'WPG', 'Washington': 'WSH',}

In [28]:
clean_df['Team'] = clean_df['Team'].replace(city_dict)
clean_df.head()

  Season Team Position            Player  Games Missed
0   2012  BOS        F  Patrice Bergeron             6
1   2012  BOS        F     Brad Marchand             2
2   2012  BOS        F    Shawn Thornton             2
3   2012  CAR        F       Chad LaRose            10
4   2012  CAR        F   Alexander Semin             2

In [29]:
clean_df['Team'].value_counts()

MTL    27
PIT    27
CAR    26
CHI    25
BOS    21
VAN    16
WPG    15
FLA    15
COL    15
EDM    14
OTT    14
PHI    14
STL    14
NYR    13
TOR    12
ANA     9
MIN     9
DAL     8
DET     8
N.J     8
CBJ     7
NYI     6
BUF     6
S.J     6
ARI     5
CGY     4
L.A     4
WSH     4
NSH     2
T.B     1
VGK     1
Name: Team, dtype: int64

In [31]:
clean_df = clean_df.rename(columns = {'Games Missed': 'Games_Missed'})
clean_df.head()

  Season Team Position            Player  Games_Missed
0   2012  BOS        F  Patrice Bergeron             6
1   2012  BOS        F     Brad Marchand             2
2   2012  BOS        F    Shawn Thornton             2
3   2012  CAR        F       Chad LaRose            10
4   2012  CAR        F   Alexander Semin             2

In [32]:
clean_df.to_csv('clean_concussion_data.csv')